{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="FormPage">
    <div class="signInUpTitle">Создайте новый аккаунт</div>
    <form class="signInUpForm" method="POST">
        {% csrf_token %}
        <div class="signInUpFields">
        {% for field in form %}
            <div class="formField">
                <span>{{ field.label_tag }}</span> 
                {{ field }}
            </div>
        {% endfor %}
        </div>
        <div class="ifRdy">
            <div class="signInUpButtons">
                <button class="enter">
                    Зарегистрироваться
                </button>
                <button class="goToSignUpIn" method="GET" type="button" onclick="location.href='{% url 'cakes:signin' %}'">
                    Уже зарегистрированы?
                </button>
            </div>
        </div>
    </form>
</div>
<p>
    {{error}}
</p>
{% endblock content %}