* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vw;
    min-height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100% - 60px);
}

/* NAVIGATION */
.navigation {
    display: flex;
    justify-content: left;
    width: 100%;

    background: #f1a11e;
}

.navigationWrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 95%;
    min-height: 60px;
    height: fit-content;
    max-height: 120px;
}

.navigationWrapperLogo {
    display: flex;

    justify-content: space-between;
    align-items: center;

    min-width: 140px;
    width: fit-content;
    max-width: 240px;
    min-height: 60px;
    height: fit-content;
    max-height: 120px;

    padding-left: 10px;
    padding-right: 10px;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background: #fff;
}

.navigationWrapperLogo h1 {
    font-size: 24px;
}

.navigationWrapperLinks {
    display: flex;
    width: fit-content;
    height: 100%;
}

.navigationWrapperLinks a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
}

.navigationWrapperProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 10px;

}
.navigationWrapperProfile span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.navUl{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1a11e ;
    min-width: 180px;
    border-radius: 50px;
    padding: 10px;
    z-index: 1;
    top: 70px;

}
.dropdownContent a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    text-decoration: none;
    min-width: fit-content;
    text-transform: uppercase;
    padding-left: 20px;
    

}

/* SIGNIN & UP FORM */

.formPage{
    margin-top: 20px;
    width: 30vw;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    min-height: 220px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 8px;
    padding-bottom: 5px;
}
.signInUpTitle{
    height: 35px;
    background-color: #f1a11e;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.signInUpForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 15vh;
    max-width: 30vw;
}
.signInUpFields{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.formField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    width: 90%;
}
.formField span{
    font-weight: 700;
    font-size: 18px;
}

.formField input{
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px;
}
.ifRdy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signInUpButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.enter{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    background-color: palevioletred;
    border-color:palevioletred ;
    font-size: 14px;
    color: #fff;
}
.goToSignUpIn{
    text-decoration: none;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
}
/* CATALOG */
.catalogPage{
    display: flex;
    gap: 20px;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    margin-top: 30px;
}
.catSide{
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    gap: 3px;
}
.goods{
    background-color: #f1a11e;
    color: rgb(70, 30, 11);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #f1a11e;
}
.oneCat{
    display: flex;
    color: rgb(70, 30, 11);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f1a11e;
}
.catTitle{
    width: 85%;
    color: rgb(72, 31, 11);
    font-weight: 700;
    font-size: 16px;
}
.countCat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: orangered;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 13%;
    border-radius: 50%;
}
.arrowCat{
    color: #fff;
}
.catalogSide{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}
.catalogParams{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sortBtn{
    display:flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.sortBtn span{
    width: 10vw;
}
.catalog{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}
.catalogCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 10px;
    gap: 15px;
    height: 330px;
}
.catalog h1{
    font-size: 12px;
    width: 90%;
    text-align: justify;
    height: 20%;
}
.infoCatalog{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    border: none;
}
.category{
    font-size: 16px;
}
.price{
    font-weight: 700;
    font-size: 20px;
}
.corzina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
    border-color: #f1a11e;
    text-decoration: none;
    background-color: #fff;
}
.corzinaImg{
    fill: #fff;
}
/* PROFILE */
.ptofilePage{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}
.profileChar{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.avatarWrapper{
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.nickname{
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.profileMail{
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.profileSpan{
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.profileFunctions{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    gap: 8px;
    align-items: center;
    justify-content: center; 
}
.profileBtn{
    text-align: center;
    text-decoration: none;
    background-color: #f1a11e;
    color: #fff;
    width: 12vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
/* UpdateProfile */
.updateFormField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    width: 90%;
}
.updateFormField span{
    font-weight: 700;
    font-size: 18px;
}

.updateFormField input{
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px;
}
/* cart */

.cart{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;
}
.cartItem{
    display: flex;
    flex-direction: column;
    width: 27vw;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 20vw;
    border: 2px solid #f1a11e;
    border-radius: 10px;
}
.cartItem h1{
    font-size: 20px;
}
.cartImageFunc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.cartFunctionals{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cartFunctionals p{
    font-size: 18px;
    font-weight: 700;
}
.changeQuantity{
    display: flex;
    gap: 0.3vw;
}
.quantity{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    background-color: deepskyblue;
    border-color: deepskyblue;
    font-size: 16px;
    font-weight: 700;
    color: aliceblue;
}
.minus{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background: none;
    border: none;
    font-size: 14px;
}
.categoryCart{
    font-size: 18px;
}